block dog
  link(rel='stylesheet', href='/stylesheets/dog.css')
  each dog in dogs
    article.dog
      a(href='dog/' + dog.id)
        img(src=dog.image, alt=dog.name)
      .dogInfo
        h3#nameOfDog !{dog.name}
        p.breed !{dog.breed}
        p.gender !{dog.gender}
        p.color !{dog.color}
        p.age !{dog.age} years
        p.size !{dog.size} kg
